.signupBody
  .signupHeader
    %a.signupHeader__center{href: "#"}
      %img.twitterlogo{src: "/images/Twitter_Logo_Blue.png", widht: "40px", height: "40px"}
  .signupMain
    = form_for(resource, as: resource_name, url: registration_path(resource_name) ,html: { class: 'signupMain__form' })do |f|
      = devise_error_messages!
      / %form.signupMain__form
      %p.signupMain__form__instraction アカウントを作成
      .cp_iptxt
        .ef
          = f.text_field :name, placeholder: "名前"
      .cp_iptxt
        .ef
          = f.text_field :username, placeholder: "@ユーザーネーム"
      .cp_iptxt
        .ef
          = f.email_field :email, placeholder: "メールアドレス"
      .cp_iptxt
        .ef
          = f.password_field :password, placeholder: "パスワード"

      .signupMain__form__policy アカウントを作成すると、利用規約、およびCookieの使用を含むプライバシーポリシーに同意したことになります。あなたのメールアドレスや電話番号を連絡先に保存しているTwitterユーザーに通知などが表示されます。プライバシーの設定

      .signupMain__form__btn
        = f.submit "登録する", type: "submit", class: "signupMain__form__submits"

/ = render "devise/shared/links"
