= render "partial/navbar"
.wrapper
  .content.row
    .content-left.col-md-3.offset-md-1
      = render "partial/userPanel", {user: current_user}
    .col-md-4.offset-col-4.my-3
      = form_for @tweet, url: {controller: "retweets", action: "create"} do |f|
        = f.text_area :text, class: 'my-4 col-md-10 offset-md-1 form-rounded form-control tweet_form_content ', placeholder: '引用ツイート（コメントを追加）',rows: "3"
        = f.hidden_field :parent_id, value: params[:id]
        = f.submit 'リツイート',type: "submit", class: 'btn btn-sm badge-pill btn-primary float-right mb-md-3 mr-md-4'
      %br
      %br
      = render partial: "partial/tweet", collection: @tweets
      #tweet_body
    .content-rihgt.col-md-3.offset-col-8
      / = render partial: "partial/recommend"
