= render "partial/navbar"
.wrapper
  .content.row
    = render "partial/userPanel", {user: current_user}
    .content__timeline.col-md-4
      .my-4.bg-light
        = render "partial/tweetForm"
      #tweet_body
        = render partial: "partial/tweet", collection: @tweets
    = render "partial/recomendPanel"
