= render "partial/navbar"
.wrapper
  .content.row
    = render "partial/userPanel", {user: current_user}
    .content__timeline.col-md-4
      .my-4.bg-light
        = render "partial/tweetForm"
      = render "partial/tweetList", {user: current_user}
    = render "partial/recomendPanel"
