= render "partial/navbar"
.wrapper
  .content.row
    .content-left.col-md-3.offset-md-1
      = render "partial/userPanel", {user: current_user}
      .card.my-4
        .card-body
          %h3.card-title トレンド
          = render partial: "partial/trend", collection: @trend
    .content__timeline.col-md-4
      .my-4.bg-light
        = render "partial/tweetForm"
      #tweet_body
        = render partial: "partial/tweet", collection: @tweets
    .content-rihgt.col-md-3
      = render partial: "partial/recommend",collection: @recommends
