= render "tweets/../partial/navbar"
.wrapper
  .dashboard.row
    = render "tweets/../partial/userPanel"
    .content-timeline.col-md-4
      = render "tweets/../partial/tweetForm"
      = render "tweets/../partial/tweetList"
    = render "tweets/../partial/recomendPanel"
