- parent_tweet = Tweet.find(@parent_id)
= render "partial/navbar"
.wrapper
  .content.row
    = render "partial/userPanel", {user: current_user}
    .content__timeline.col-md-4.my-4
      .card.my-2
        .tweet.card-body.row
          .tweet__left.col-md-2
            .tweet__left--user-avatar
              - if parent_tweet.user.avator.present?
                = image_tag tweet.user.avator.url, class: 'rounded-circle circlePosition image_trimming',alt: "Cinque Terre", width: "50",height: "50"
              - else
                = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmvLAgpfLfR8hXo5ZfZHupQ8B1dDt5FqbnxQ-WlDvvSIBq3UUMgg", class: 'rounded-circle circlePosition image_trimming',alt: "Cinque Terre", width: "50",height: "50"

          .tweet__right.col-md-10
            .tweet__right--header
              %strong
                = parent_tweet.user.name
              %h6.card-subtitle.mb-2.text-muted.d-inline
                = "@#{parent_tweet.user.username}"
              %h6.card-subtitle.mb-2.text-muted.d-inline
                = parent_tweet.created_at.to_s(:human)
              .btn-group.float-right
                %button.btn.btn-muted.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
                .dropdown-menu
                  %a.dropdown-item{:href => "#"} メニュー1
                  %a.dropdown-item{:href => "#"} メニュー2
                  %a.dropdown-item{:href => "#"} メニュー3
                  .dropdown-divider
                  %a.dropdown-item{:href => "#"} その他リンク
            .tweet__right--main
              %a.card-title
                = parent_tweet.text
            .tweet__right--media
              = image_tag parent_tweet.media.url, class: 'img-fluid' if parent_tweet.media.present?

      = form_for @tweet do |f|
        = f.text_area :text, class: 'col-md-10 offset-md-1', placeholder: '返信をツイート'
        = f.label :media, class: 'tweet-media col-md-1' do
          %i.fas.fa-camera-retro
          = f.file_field :media, class: 'displaynone'
        = f.hidden_field :parent_id, value: @parent_id
        = f.submit 'Tweet', class: 'col-md-2 offset-md-9 my-1 btn btn-info'
