= render "partial/navbar"
= render "partial/searchBar" ,{tag: @tag}
.wrapper
  .content.row
    .content-left.col-md-3.offset-md-1
      = render partial: "partial/recommend"
      .my-4
        = render partial: "partial/time_trend",locals:{trend: @trend, day_trend: @day_trend, week_trend: @week_trend}
    .content__timeline.col-md-4
      #tweet_body
        - @tweets.each do |tweet|
          = render "partial/tweet", {tweet: tweet}
