= render "partial/navbar"
= render "partial/searchBar",{keyword: params[:keyword],tag: @tag}
.wrapper
  .content.row
    .content-left.col-md-3.offset-md-1
      = render partial: "partial/recommend"
      .card.my-4
        .card-body
          %h4.card-title トレンド
          = render partial: "partial/trend", collection: @trend
    .content__timeline.col-md-8
      .row-eq-height.my-4
        - @users.each do |user|
          = render "partial/userCard" , {user: user}
