= render "partial/navbar"
.wrapper
  .container-fluid
    - if @user.cover.present?
      = image_tag @user.cover.url, class: 'img-fluid header-pic image_trimming'
    - else
      = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmvLAgpfLfR8hXo5ZfZHupQ8B1dDt5FqbnxQ-WlDvvSIBq3UUMgg", class: 'img-fluid header-pic image_trimming'
  %nav.navbar.navbar-expand-lg.bg-light.navbar-light.sticky-top.row
    %ul.navbar-nav.col-md-4.offset-md-4
      %li.nav-item.col-md-3
        = link_to "ツイート#{@user.tweets.count}", user_path(@user.id) ,class: 'nav-link'
      %li.nav-item.col-md-3
        = link_to "フォロー#{@user.following.count}", "/users/#{@user.id}/following" ,class: 'nav-link'
      %li.nav-item.col-md-3
        = link_to "フォロワー#{@user.followers.count}", "/users/#{@user.id}/followers" ,class: 'nav-link'
      %li.nav-item.col-md-3
        = link_to "いいね#{@user.favorites.count}", favorites_user_path(@user.id) ,class: 'nav-link'
    - if user_signed_in? && current_user.id == @user.id
      = link_to "プロフィールを編集", "/users/#{current_user.id}/edit" ,class: ' btn btn-outline-secondary col-md-2 offset-md-1'
    = render "partial/follow_form" ,{user: @user}
  .container-fluid
    .wrapper
      .dashboard.row
        .content-left.col-md-3.offset-md-1
          .my-4
            - if @user.avator.present?
              = image_tag @user.avator.url, class: 'rounded-circle circlePosition image_trimming',alt: "Cinque Terre", width: "250",height: "250"
            - else
              = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmvLAgpfLfR8hXo5ZfZHupQ8B1dDt5FqbnxQ-WlDvvSIBq3UUMgg", class: 'rounded-circle circlePosition image_trimming',alt: "Cinque Terre", width: "250",height: "250"
            .card-body
              .card-body-title #{@user.name}
              %table
                %tr
                  .card-text.text-secondary #{"@"+ @user.username}
                %tr
                  %td.fas.fa-map-marker-alt
                  %td.card-text #{@user.location}
                %tr
                  %td.fas.fa-link
                  %td.card-text #{@user.website}
                %tr
                  %td.far.fa-comment
                  %td.card-text #{@user.about}
                - if @users.present?
                  %tr
                    %td.fas.fa-users
                    %td.card-text{:href => "#"} #{@users.count}人の知り合いのフォロワー
              - @users.each do |user|
                = link_to (user_path(user)) do
                  - if user.avator.present?
                    = image_tag user.avator.url, class: 'rounded-circle circlePosition image_trimming',alt: "Cinque Terre", width: "50",height: "50"
                  - else
                    = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmvLAgpfLfR8hXo5ZfZHupQ8B1dDt5FqbnxQ-WlDvvSIBq3UUMgg", class: 'rounded-circle circlePosition image_trimming',alt: "Cinque Terre", width: "50",height: "50"
              - if @medias.present?
                %table
                  %tr
                    %td.far.fa-images
                    %td.card-text 画像/動画
                - @medias.each do |media|
                  = image_tag media, class: 'image_trimming', width: "70",height: "70"

        .content-timeline.col-md-4.my-3
          = render partial: "partial/tweet", collection: @user.tweets
        .content-timeline.col-md-3.my-3
          = render "partial/recomendPanel"

