- if user_signed_in?
  - if tweets.fav_user(current_user.id)
    = button_to tweet_favorite_path(fav, tweet_id: tweet.id), method: :delete, id: "fav-button", remote: true do
      %i.fas.fa-star
      %span
        = tweets.fav_count
  - else
    = button_to tweet_favorites_path(tweet), id: "fav-button", remote: true do
      %i.far.fa-star
      %span
        = tweets.fav_count
- else
  %i.far.fa-star
  %span
    = tweets.fav_count
