%nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
  %a.navbar-brand.h1.text-info{href: "#"} Twitter
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "ホーム", root_path, method: :get, class: 'nav-link'
      %li.nav-item
        %a.nav-link{href: "#"} モーメント
      %li.nav-item
        %a.nav-link{href: "#"} 通知
      %li.nav-item
        %a.nav-link{href: "#"} メッセージ
    / %form.form-inline.my-2.my-lg-0
    = form_tag('/users', method: :get, class: "form-inline my-2 my-lg-0") do
      = text_field_tag :name, "",placeholder: "ユーザー&ツイート検索",class: 'form-control mr-sm-2', name: "keyword"
      = submit_tag "search", class: "btn btn-outline-success my-2 my-sm-0 mx-2"
    .btn-group{"aria-label" => "Button group with nested dropdown", :role => "group"}
      %button.btn.btn-secondary{:type => "button"} User
      .btn-group{:role => "group"}
        %button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          More
        .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
          = link_to "プロフィール", "/users/#{current_user.id}" ,class: 'dropdown-item'
          %a.dropdown-item{:href => "#"} 設定
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item'
    %button.btn.btn-info.mx-2{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      Tweet
    #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-centered{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalLabel.modal-title 新しいツイート
            %button.close{"aria-label" => "閉じる", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            = render 'partial/tweetForm'
