/ = form_for Tweet.new , remote: true do |f|
/   = f.text_area :text, class: 'col-md-10 offset-md-1 tweet_form_content', placeholder: 'いまどうしてる？'
/   .content__timeline__photo
/   %i.fas.fa-camera-retro
/   = f.file_field :media , class: 'tweet_form_content_image'
/   = f.hidden_field :parent_id, value: ""
/   = f.submit 'Tweet', class: 'col-md-2 offset-md-9 my-1 btn btn-info'
.card
  = form_for Tweet.new , remote: true do |f|
    = f.text_area :text, class: 'my-4 col-md-10 offset-md-1 form-rounded form-control tweet_form_content ', placeholder: 'いまどうしてる？',rows: "3"
    .content__timeline__photo
    = f.label :media do
      = f.file_field :media , class: 'tweet_form_content_image'
      = fa_icon 'picture', class: 'fa fa-image'
    = f.hidden_field :parent_id, value: ""
    = f.submit '新しいツイート', class: 'offset-md-6 btn btn-sm badge-pill btn-primary'

