.wrapper.card.my-2.tweet-color.tweet_original{ "data-id": tweet.id}
  .tweet.card-body.row
    .tweet__left.col-md-2
      = link_to "/users/#{tweet.user_id}" do
        .tweet__left--user-avatar
          - if tweet.user.avator.present?
            = image_tag tweet.user.avator.url, class: 'rounded-circle circlePosition image_trimming',alt: "Cinque Terre", width: "50",height: "50"
          - else
            = image_tag "/images/person.jpg", class: 'rounded-circle circlePosition image_trimming',alt: "Cinque Terre", width: "50",height: "50"
    .tweet__right.col-md-10
      .tweet__right--header
        %input.user_info{type: "hidden",value: "#{tweet.user_id}"}
      .userpanel-popup
        = link_to"/users/#{tweet.user.id}" do
          %strong.linkcolorblack.d-inline
            = tweet.user.name
          .popup
            = render "partial/userpanel_popup_from_tweet" , {tweet: tweet}
        %h6.card-subtitle.mb-2.text-muted.d-inline
          = "@#{tweet.user.username}"
        %h6.card-subtitle.mb-2.text-muted.d-inline
          = link_to "#{tweet.created_at.to_s(:human)}", tweet_path(id: tweet.id)
      .tweet__right--main
        - if tweet.parent_id?
          .tweet__right--reply
            = "返信先:"
            - parent_tweet = Tweet.find(tweet.parent_id)
            = link_to "@#{parent_tweet.user.name}", user_path(id: parent_tweet.user_id), class: "replyblue"
            %br
        - else
        %a.card-title
          = render_with_hashtags(tweet.text)
      .tweet__right--media
        = image_tag tweet.media.url, class: 'img-fluid' if tweet.media.present?
      .tweet__right--bottom
        %a.text-muted
          .tweet__right--reply.float-left
            %label.reply
              = link_to tweet_path(id: tweet.id) do
                %i.fas.fa-reply
            .reply_popup
              返信
          .tweet__right--favorite.float-left
            = render "partial/favorite" , {tweet: tweet}
            .favorite_popup
              いいね
