.card.my-4.position_relative
  - if user.cover.present?
    = link_to "/users/#{user.id}" ,class: 'thumbnail' do
      = image_tag user.cover.url, class: 'card-img-top image_trimming',alt: "Card image cap", width: "256", height: "100"
  - else
    = link_to "/users/#{user.id}" ,class: 'thumbnail' do
      = image_tag "/images/cover.jpeg", class: 'card-img-top image_trimming',alt: "Card image cap", width: "256", height: "100"
  - if user.avator.present?
    = image_tag user.avator.url, class: 'rounded-circle circle_image_potision image_trimming',alt: "Cinque Terre", width: "70",height: "70"
  - else
    = image_tag "/images/person.jpg", class: 'rounded-circle circle_image_potision image_trimming',alt: "Cinque Terre", width: "70",height: "70"
  .card-body
    .card-body-title #{user.name}
    %h8.card-text.text-secondary #{"@"+user.username}
    %p.card-text #{user.about}
    .body-bottom.d-md-inline-flex
      %li.nav-item.col-md-4
        = link_to "ツイート", user_path(id: current_user.id), class: 'text-muted card-link card-link-word'
        = link_to "#{current_user.tweets.count}", user_path(id: current_user.id), class: 'text-muted card-link card-link-number'
      %li.nav-item.col-md-4
        = link_to "フォロー", following_user_path(current_user.id), class: 'text-muted card-link card-link-word'
        = link_to "#{current_user.following.count}", following_user_path(current_user.id), class: 'text-muted card-link card-link-number'
      %li.nav-item.col-md-4
        = link_to "フォロワー", followers_user_path(current_user.id), class: 'text-muted card-link card-link-word'
        = link_to "#{current_user.followers.count}", followers_user_path(current_user.id), class: 'text-muted card-link card-link-number'
