.content-left.col-md-3.offset-md-1
  .card.my-4
    - if user.cover.present?
      = link_to "/users/#{user.id}" ,class: 'thumbnail' do
        = image_tag user.cover.url, class: 'card-img-top',alt: "Card image cap", width: "256", height: "100"
    - else
      = link_to "/users/#{user.id}" ,class: 'thumbnail' do
        = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmvLAgpfLfR8hXo5ZfZHupQ8B1dDt5FqbnxQ-WlDvvSIBq3UUMgg", class: 'card-img-top',alt: "Card image cap", width: "256", height: "100"
    - if user.avator.present?
      = image_tag user.avator.url, class: 'rounded-circle circlePosition',alt: "Cinque Terre", width: "70",height: "70"
    - else
      = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmvLAgpfLfR8hXo5ZfZHupQ8B1dDt5FqbnxQ-WlDvvSIBq3UUMgg", class: 'rounded-circle circlePosition',alt: "Cinque Terre", width: "70",height: "70"
    .card-body
      .card-body-title #{user.name}
      .btn-right
        = render "partial/follow_form" , {user: user}
      %h8.card-text.text-secondary #{user.username}
      %p.card-text
        = truncate(user.about, length:40)
      .body-bottom.d-md-inline-flex
        %a.text-muted.card-link{href: "#"} ツイート：#{current_user.tweets.count}
        %a.text-muted.card-link{href: "#"} フォロー：#{current_user.following.count}
        %a.text-muted.card-link{href: "#"} フォロワー：#{current_user.followers.count}

